.primary_btn{
  padding: 18px 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 220px;
  justify-content: center;
  cursor: pointer;
}

.outLine_btn {
  background-color: #f9f9f9;
  color: rgb(5, 5, 5);
  padding: 18px 10px;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 220px;
  justify-content: center;
  width: 100%;
  cursor: pointer;

}
.contact_form{
  display: flex;
  flex-direction: column;
  gap: 24px;
}